:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --rouge: #d54d3e;
  --rougefonce: #be2b2b;
  --clair: #C1C9D9;
  --blanc: #ffffff;
  --grisclair: #383838;
  --gris: #2d2d2d;
  --grisfonce: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
body {
  display: flex;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--gris);
  color: white;
}
b:nth-child(2) {
  padding-left: 300px;
}
h1 {
  font-size: 33px;
  margin: 100px;
  margin-bottom: 0;
  text-align: center;
  color: var(--rougefonce);
}
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.sidebar {
  position: fixed;
  min-width: 300px;
  min-height: calc(100vh);
  background-color: var(--rouge);
  border-right: solid 1px var(--gris);
  display: flex;
  flex-direction: column;
  .img {
    a {
      width: 300px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
    a{
      display: block;
      padding: 1rem;
      transition: all .4s;
      border-bottom: solid 1px var(--rougefonce);
      &:hover {
        background-color: var(--rougefonce);
        border-right: solid 10px var(--grisfonce);
      }
    }
}
.wholesite {
  width: 100%;
  padding-left: 300px;
}
.container {
  min-height: calc(100vh - 220px);
}
// TEMPLATE
.templatesubs ul,.templateproducts ul,.templateborrows ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  a {
    display: block;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    &:hover {
      background-color: var(--rouge);
    }
  }
}
// LISTING
.listings {
  display: flex;
  justify-content: space-between;
  .unique_listing {
    display: flex;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    &:hover {
      background-color: var(--rouge);
      span {
        color: black;
      }
    }
  }
  .subs,.products,.borrows {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    span {
      transition: all .3s;
      color: var(--rougefonce);
    }
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .end {
        padding: .3rem;
        background-color: var(--rougefonce);
        border-radius: 5px;
        transition: all .3s;
        &:hover {
          color: var(--rouge);
          background-color:white;
        }
      }
    }
  }
}
// SINGLE
.return a {
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  background-color: var(--rouge);
  transition: all .3s;
  &:hover {
    background-color: var(--rougefonce);
  }
}
.uniquesubs,.uniqueproducts {
  padding: 1rem;
  margin-bottom: 1rem;
  p {
    display: flex;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    color: var(--rouge);
    span {
      margin-left: .5rem;
      color: white;
    }
  }
}
.borrowsub {
  margin-top: 1rem;
}
form {
  background-color: var(--grisfonce);
  border-radius: 30px;
  padding: 3rem;
  margin: 1rem;
  input {
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
  }
  input[type=submit]{
    transition: all .3s;
    &:hover {
      cursor: pointer;
      background-color: #e5b22a;
    }
  }
}
.addborrow {
  display: flex;
  justify-content: center;
  .select {
    width: fit-content;
    display: block;
    input {
      width: auto;
    }
    select{
      padding: .4rem;
      border: none;
      border-radius: 5px;
    }
  }
}
#masthead {
  padding: 1rem 0;
  background-color: var(--rouge);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

.error {
  color: #c43030;
}

#colophon {
  background-color: var(--rouge);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}